*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background: #f7f7f7;
}

.fade-in{
    animation: fade 1.5s ease-in;
}

@keyframes fade{
    from{opacity: 0; transform: translateY(20px);}
    to{opacity: 1; transform: translateY(0);}
}

.slide{
    animation: slideIn 1s ease forwards;
}

@keyframes slideIn{
    from{opacity: 0; transform: translateX(-50px);}
    to{opacity: 1; transform: translateX(0);}
}


header{
    background: #222;
    color: white;
    padding: 50px 20px;
    text-align: center;
}

.tagline{
    color: #ffcc00;
    margin-top: 5px;
}

.section{
    padding: 40px;
    text-align: center;
}

.profile{
    margin-top: 15px;
    width: 150px;
    height:150px;
    border-radius: 50%;
    animation: fade 2s ease;
}

.skills{
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.skills span{
    background: #eee;
    padding: 10px 20px;
    border-radius: 20px;
    transition: 0.3s;
}

.skills span:hover{
    background: #ffcc00;
    transform: scale(1.1);
}

.project{
    background: white;
    width: 320px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.project:hover{
    transform: scale(1.05);
}

.project img{
    width: 100%;
    border-radius: 10px;
}

.btn{
    background: #ffcc00;
    padding: 12px 25px;
    display: inline-block;
    text-decoration: none;
    color: black;
    font-weight: bold;
    border-radius:5px;
    transition: 0.3s;
}

.btn:hover{
    background: #e6b800;
    transform: scale(1.1);
}

footer{
    background: #222;
    color: white;
    text-align: center;
    padding: 20px;
}
